/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Nunito:wght@500&family=Oxygen&display=swap');
/* font-family: 'Koulen', cursive; | font-family: 'Nunito', sans-serif; | font-family: 'Oxygen', sans-serif; */

/* MOBILE FIRST DESIGN */

.App {
  text-align: center;
}

.corner-time {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

/* remove underlines from links, font styling */
.weather-tab, .historical-tab, .about-tab {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

/* flexbox for header */
.header {
  display: flex;
  justify-content: space-around;
  /* margin-top: 10px; */
  padding-top: 3px;
  padding-bottom: 3px;
  background: rgb(80, 80, 80);
}

/* styling and hover effects for header buttons */
.header button {
  background: none;
  border-radius: 10px;
  border-width: 0px;
}

.header button:hover {
  cursor: pointer;
  background: rgb(100, 255, 255);
  transition: all 0.3s ease;
}

.weather-tab:hover, .historical-tab:hover, .about-tab:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

/* hide about tab on mobile view */
.about-tab {
  display: none;
}





/* CurrentWeather styling */

.local-time {
  display: flex;
  justify-content: space-around;
}

.app-intro, .user-greeting {
  font-family: 'Oxygen', sans-serif;
  font-size: 25px;
}

.appname {
  font-family: 'Koulen', cursive;
  font-size: 30px;
}

.local-time {
  font-family: 'Nunito', sans-serif;
}

/* removing underlines from link and styling */
.aboutlink, .return-home-link {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
}

.aboutlink:hover, .return-home-link:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  color: cyan;
}

/* styling and hover effects for header and footer buttons */
.header button, footer button {
  background: none;
  border-radius: 10px;
  border-width: 0px;
}

.header button:hover {
  cursor: pointer;
  background: rgb(100, 255, 255);
  transition: all 0.3s ease;
}

footer {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer button:hover {
  cursor: pointer;
  background: rgb(80, 80, 80);
  transition: all 0.3s ease;
}



/* CurrentSearch styling */

.calltoaction {
  font-family: 'Oxygen', sans-serif;
  font-size: 25px;
}

/* styling and animation of submit button */
.user-submit-button {
  margin-left: 10px;
  border-radius: 5px;
  font-size: 15px;
  background-color: azure;
}

.user-submit-button:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1.2);
  background-color: bisque;
}

/* styling of the search result of the weather */
.search-result, .searchhistorylink {
  font-family: 'Nunito', sans-serif;
  color: black;
}

.searchhistorylink {
  color:rgb(33, 130, 130);
  text-decoration-color: black;
}

.searchhistorylink:hover {
  transition: all 0.3s ease;
  color: rgb(254, 255, 174);
}





/* HistoricalWeather styling */



.historical-calltoaction {
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
}


.historical-footer {
  display: flex;
  justify-content: space-around;
}





/* HistoricalSearch styling */

.searchparameters p {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}



/* About styling */

.aboutdescription {
  font-family: 'Nunito', sans-serif;
}

.history-instructions {
  color: red;
  text-decoration: underline;
}

/* make icons 1x4 in grid */
.language-icons {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}



/* CurrentTime styling */
/* shared near top of CSS */



/* TABLET DESIGN */
@media screen and (min-width: 760px) {

/* change grid layout of icons to 2x2 */
.language-icons {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

}

/* DESKTOP DESIGN */
@media screen and (min-width: 1200px) {

/* change grid layout of icons to be 4x1 */
.language-icons {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

/* return the about tab on desktop view */
.about-tab {
  display: flex;
}

}